.ttt-player-list {
  display: grid;
  /* auto-fill is amazing takes in hand move the other items below in case
  there's no available space */
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  grid-gap: 20px;
  list-style: none;
}

.ttt-player-list-container h2 {
  font-size: 35px;
}