.player-oponents {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.player-oponents img.emptyPlace {
  width: 60%;
}

.player-oponents .read-only {
  /* width: 50%; */
  margin: 50px;
}

.ttt-player-list-container {
  display: grid;
  grid-template-columns: 1fr;
}

.vs-class {
  width: 100%;
}

.sk-cube-grid {
  width: 240px;
  height: 240px;
  margin: 100px auto;
  /* position: absolute; */
  
  /* position: relative; */
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background: rgb(163, 76, 235);
  float: left;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  animation-delay: 0.2s;
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}