.ttt-player {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.ttt-picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  position: relative;
}